*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* color: white; */
}
html,body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: a;
    src: url(Images_Font/Jost-Light.ttf);
}
@font-face {
    font-family: b;
    src: url(Images_Font/jost-variable.ttf);
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #0A3CCE; 
    /* This background color removes splitlines which we were facing in after including canvas */
}
#page1{
    height: 100vh;
    width: 100vw;
/*     background-color: red; */
    position: relative;
}
#page1 video{
    height: 100%;
    width: 100%;    
    object-fit: cover;
}
#nav{
    /* jisse baki part video cover krle */
    position: absolute;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* upar niche se barabar */
    /* padding: 0px 30px; */
    padding: 35px 60px 10px 50px;
    /* top right bottom left */
}
#nav img{
    height: 65px;
}

#rightnav button{
    height: 45%;
    padding:10px 25px;
    /* top&bottom -right&left */
    border-radius: 50px;
    margin: 0px 7px 0px 7px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.325);
    font-family: b;
    font-size: 14px;
    color: #fff;
}
#bottompage1{
    position: absolute;
    bottom: 10vh;
    left: 20vh;
    color: white;
}
#bottompage1 h1{
    font-family: a;
    font-size: 100px;
    font-weight: 100;
    line-height: 100px;
    margin-bottom: 60px;
}
#lowerbottom{
    display: flex;
    align-items: center;
    gap: 35px;
}
#lowerbottom h4{
    font-family: a;
    font-size: 20px;
    font-weight: 1;
    line-height: 29px;
}
#lowerbottom button{
    background-color: #fff;
    color: rgb(2, 2, 184);
    padding: 15px 35px;
    border-radius: 50px;
    border: 0px;
    font-size: 13px;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-family: a;
}
#page2 p{
    font-size: 20px;
    margin-bottom: 35px;
    padding-right: 47.5%;
    /* margin: 220px 10px 10px 80px; */
    color: white;
}
#page2 h1{
    font-weight: 100;
    font-size: 60px;
    line-height: 80px;
    color: #dadada69;
    padding-left: 65px;
    width: 90%;
}
#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: #0A3CCE;  */
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
}
#page4{
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-family: a;
}
#page4 p{
    font-size: 20px;
    margin-bottom: 35px;
    padding-right: 47.5%;
    /* margin: 220px 10px 10px 80px; */
    color: white;
}
#page4 h1{
    font-weight: 100;
    font-size: 60px;
    line-height: 80px;
    color: #dadada69;
    padding-left: 65px;
    width: 90%;
}
#page5{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: #0A3CCE;  */
}
#page5>canvas{
    max-height: 100vh;
    max-width: 100vw;
}
#page6{
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-family: a;
}
#page6 p{
    font-size: 20px;
    margin-bottom: 35px;
    padding-right: 54.5%;
    /* margin: 220px 10px 10px 80px; */
    color: white;
}
#page6 h1{
    font-weight: 100;
    font-size: 60px;
    line-height: 80px;
    color: #dadada69;
    padding-left: 65px;
    width: 90%;
}
#page7{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page7>canvas{
    max-height: 100vh;
    max-width: 100vw;
}
#page7-inner-cir{
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 1px #99AEEB;
    background-color: #093dcd73;
}
.page7-circle{
    height: 23.5vw;
    width: 23.5vw;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 1px #98a5c865;
}
#page8{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8-bottomdiv{
    position: absolute;
    bottom: 13%;
    margin-left: 50%;
    transform: translate(-50%);
    font-family: a;
}
#page8-bottomdiv h1{
    color: white;
    font-size: 97px;
    margin-bottom:20px ;
    font-weight: 400;
}
#page8-bottomdiv button{
    background-color: #fff;
    color: rgb(2, 2, 184);
    padding: 15px 35px;
    border-radius: 50px;
    border: 0px;
    font-size: 13.5px;;
    margin-left: 185px;
    width: 185px;
    height: 50px;
}
#page9{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}
#textpage9{
    height: 100%;
    width: 50%;
    font-family: a;
    position: relative;
    color: #fff;
}
#textpage9 h1{
    top: 43%;
    transform: translateY(-63%);
    position: absolute;
    left: 19%;
    font-size: 97px;
    font-weight: 500;
    line-height: 85px;
}
#right9{
    height: 100%;
    width: 50%;
    /* background-color: aliceblue; */
    display: flex;
    /* align-items: center; */
}
#rightctr9{
    height: 65%;
    width: 820px;
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    position: absolute;
    top: 23%;
    right: 10%;
    border-radius: 10px;
    background-size: cover;
}